*{
    color:rgb(61, 61, 61);
}


/* product cards  */
.bg-product-card{
    background-color: rgb(244, 242, 242);
}
.price-product-color{
    color:#5c5c5c ;
}

.custom-navbar {
    background-color:#F5F5F7;

  }