*{
    color:rgb(61, 61, 61);
}

html, body, #root {
    height: 100%;
}


/* Product component  */
.product-title{
    color: rgb(61, 61, 61);
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 

}
.bg-product-card{
    background-color: rgb(244, 242, 242);
}
.price-product-color{
    color:#5c5c5c ;
}

/* Header component */

.custom-navbar {
    background-color:#F5F5F7;

  }

  /* Rating component */
  .star-color {
    color: #ffc107 !important; /* Yellow color */
    margin-right: 2px;
  }